#page-layout {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    background-color: #3498db;
}

#page-layout-content {
    background-color: white;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}